@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
.font-fa {
  font-family: Vazirmatn, sans-serif !important;
}

.font-en {
  font-family: Poppins, sans-serif !important;
}
